@import "tailwindcss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.noto-sans-login {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.votes:hover {
  border-radius: 10px;
}
